# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup
.env.production
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel Storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Ignore everything in storage/app except .gitignore
/storage/app/*
!/storage/app/.gitignore

# Cache
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# Build Files
/public/build
/public/hot

# Uploaded Files
/public/uploads/*

# IDE
.idea/
/.vscode/

# OS Files
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache

# Composer Auth
auth.json

# Laravel Sail / Homestead
Homestead.yaml
Homestead.json
/.vagrant

# NPM
.npm

# Phpactor
.phpactor.json